.registro-container {
  width: 100%;
  border: 1px solid #ccc;
  width: 500px;
  margin-left: 500px;
}

.registro-container h2 {
  text-align: center;
  margin-top: 20px;
}

.registro-form {
  width: 400px;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  display: block;
}

.form-control {
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
}

.text-center {
  text-align: center;
  margin-top: 15px;
}